@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #FFFF;
    --white2: #f9fafa;
    --white3: #ededf0;
    --black1: #000;
    --black2: #434343;
    --grey1: #DDDDDD;
    --AppBlue: rgba(67, 119, 254, 1);
    --AppBlueLight: rgba(235, 240, 255, 1);
    --AppBlueLight2: rgba(184, 204, 255, 1);
    --AppBlueDark1: rgba(0, 35, 114, .5);
    --AppBlueDark2: rgba(25, 29, 49, 1);
    --AppRed: #FF5B5B;
    --AppRedLight1: #ffc4c4;
    --AppGreen: #75C173;
    --AppgreenLight1: rgba(117, 193, 115, 0.13);
    --AppGold: rgba(255, 184, 0, 1);
    --AppGoldLight1: rgba(252, 241, 183, 1);
    --AppOrange: #FF3E00;
    --AppOrangeLight1: rgba(255, 190, 169, 1);

    --drop-shadow-1: 0 0 0.75rem rgb(66, 66, 66);

    --text-xl1: 60px;
    --text-xl2: 50px;
    --text-xl3: 40px;
    --text-l1: 30px;
    --text-l2: 24px;
    --text-l3: 20px;
    --text-m1: 18px;
    --text-m2: 16px;
    --text-m3: 14px;


    --border-radius1: 15px;
    --border-radius2: 5px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background: var(--white2) !important;
}





/*
|----------------------------------------
|ScrollBar
|----------------------------------------
*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 35, 114, .7); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 35, 114, 1); 
}





/*
|----------------------------------------
| colors
|----------------------------------------
*/
.bg-app-blue {
    background:var(--AppBlue);
}
.bg-app-red {
    background: var(--AppRed);
}
.bg-app-green {
    background: var(--AppGreen);
}
.bg-AppBlueLight2 {
    background: var(--AppBlueLight2);
}
.bg-AppGreenLight1 {
    background: var(--AppgreenLight1);
}
.bg-AppGoldLight1 {
    background: var(--AppGoldLight1);
}

.color-AppBlue {
    color: var(--AppBlue);
}
.color-AppGold {
    color: var(--AppGold);
}
.color-AppGreen {
    color: var(--AppGreen);
}
.color-white {
    color: var(--white);
}
.color-white-2 {
    color: var(--white2);
}
.color-black{
    color: var(--black1);
}
.color-black-2 {
    color: var(--black2);
}
.color-AppRed {
    color: var(--AppRed);
}





/*
|----------------------------------------
| Text 
|----------------------------------------
*/
.text-xl1 {
    font-size: var(--text-xl1);
}
.text-xl2 {
    font-size: var(--text-xl2);
}
.text-xl2 {
    font-size: var(--text-xl3);
}
.text-l1 {
    font-size: var(--text-l1);
}
.text-l2 {
    font-size: var(--text-l2);
}
.text-l3 {
    font-size: var(--text-l3);
}
.text-m1 {
    font-size: var(--text-m1);
}
.text-m2 {
    font-size: var(--text-m2);
}
.text-m3 {
    font-size: var(--text-m3);
}

.text-center {
    text-align:center;
}
.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.link-m3 {
    text-decoration: none;
    font-size: var(--text-m3);
    color: var(--black2);
    cursor: pointer;
}
.link-m3:hover {
    text-decoration: underline;
    color: var(--black1)
}





/*
|----------------------------------------
| Margins 
|----------------------------------------
*/
.mar-top-1 {
    margin-top: 30px;
}
.mar-top-2 {
    margin-top: 20px;
}
.mar-top-3 {
    margin-top: 10px;
}
.mar-top-4 {
    margin-top: 5px;
}


.mar-bottom-1 {
    margin-bottom: 30px;
}
.mar-bottom-2 {
    margin-bottom: 20px;
}
.mar-bottom-3 {
    margin-bottom: 10px;
}
.mar-bottom-4 {
    margin-bottom: 5px;
}


.mar-end-1 {
    margin-right: 30px;
}
.mar-end-2 {
    margin-right: 20px;
}
.mar-end-3 {
    margin-right: 10px;
}
.mar-end-4 {
    margin-right: 5px;
}


.mar-start-1 {
    margin-left: 30px;
}
.mar-start-2 {
    margin-left: 20px;
}
.mar-start-3 {
    margin-left: 10px;
}
.mar-start-4 {
    margin-left: 5px;
}


.m-auto {
    margin: auto;
}
.m-start-auto {
    margin-left: auto;
}
.m-end-auto {
    margin-right: auto;
}
.m-top-auto {
    margin-top: auto;
}
.m-bottom-auto {
    margin-bottom: auto;
}


.right1 {
    right: 30px;
}
.right2 {
    right: 20px;
}
.right3 {
    right: 10px;
}
.right0 {
    right: 0;
}


.gap1 {
    gap: 30px;
}

.gap2 {
    gap: 20px;
}

.gap3 {
    gap: 10px;
}
.gap4 {
    gap: 5px;
}





/*
|----------------------------------------
| Padding 
|----------------------------------------
*/
.padding1 {
    padding: 50px;
}
.padding2 {
    padding: 30px;
}
.padding3 {
    padding: 20px;
}
.padding4 {
    padding: 10px;
}


.padding-x-1 {
    padding: 0 50px;
}
.padding-x-2 {
    padding: 0 30px;
}
.padding-x-3 {
    padding: 0 20px;
}
.padding-x-4 {
    padding: 0 10px;
}


.padding-y-1 {
    padding: 50px 0;
}
.padding-y-2 {
    padding: 30px 0;
}
.padding-y-3 {
    padding: 20px 0;
}
.padding-y-4 {
    padding: 10px 0;
}


.padding-start-1 {
    padding-left: 50px;
}
.padding-start-2 {
    padding-left: 30px;
}
.padding-start-3 {
    padding-left: 20px;
}
.padding-start-4 {
    padding-left: 10px;
}


.padding-end-1 {
    padding-right: 50px;
}
.padding-end-2 {
    padding-right: 30px;
}
.padding-end-3 {
    padding-right: 20px;
}
.padding-end-4 {
    padding-right: 10px;
}


.padding-top-1 {
    padding-top: 50px;
}
.padding-top-2 {
    padding-top: 30px;
}
.padding-top-3 {
    padding-top: 20px;
}
.padding-top-4 {
    padding-top: 10px;
}


.padding-bottom-1 {
    padding-bottom: 50px;
}
.padding-bottom-2 {
    padding-bottom: 30px;
}
.padding-bottom-3 {
    padding-bottom: 20px;
}
.padding-bottom-4 {
    padding-bottom: 10px;
}





/*
|----------------------------------------
| Positions 
|----------------------------------------
*/
.center-absolute-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}





/*
|----------------------------------------
| Flex 
|----------------------------------------
*/
.flex-direction-y {
    flex-direction: column;
}
.flex-direction-y-reverse {
    flex-direction: column-reverse;
}





/*
|----------------------------------------
| Cursor 
|----------------------------------------
*/
.cursor-pointer {
    cursor: pointer;
}





/*
|----------------------------------------
| Form Input 
|----------------------------------------
*/
.text-form-lc {
    text-transform: lowercase;
}
.text-form-uc {
    text-transform: uppercase;
}