/*
|----------------------------------------
| Containers 
|----------------------------------------
*/
.long-cont-vertical {
    background: var(--white);
    border-radius: var(--border-radius1);
    padding: 30px 50px 40px 50px;
    border: .3px solid var(--white3);
}

.container-box-s {
    width: 500px;
    border-radius: var(--border-radius1);
    filter: drop-shadow(0px 4px 52px rgba(0, 0, 0, 0.25));
    background: var(--white);
    padding: 50px 30px;
}
.content-cont-1 {
    width: calc(100% - 300px);
    margin: 20px 0 0 300px;
    padding: 0 20px;
    overflow-x: auto;
    transition: all .3s ease-out;
}
.content-cont-1.maximize {
    width: calc(100% - 90px);
    margin: 20px 0 0 90px;
}
.long-cont {
    width: 100%;
    background: var(--white);
    border-radius: var(--border-radius1);
    padding: 20px;
    overflow: auto;
    overflow-y: hidden;
    border: .3px solid var(--white3);
}
.long-cont-nopadding {
    width: 100%;
    background: var(--white);
    border-radius: var(--border-radius2);
    overflow: auto;
    overflow-y: hidden;
    border: .3px solid var(--white3);
}
.med-cont-2 {
    width: calc(50% - 20px);
    position: relative;
    padding: 20px;
    background: var(--white);
    border-radius: var(--border-radius1);
    flex-grow: 1;
    border: .3px solid var(--white3);
}
.small-cont1 {
    width: 250px;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: var(--border-radius2);
    border: 1px solid var(--grey1);
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}





/*
|----------------------------------------
| Flex 
|----------------------------------------
*/
.flex-wrap-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}





/*
|----------------------------------------
| Buttons 
|----------------------------------------
*/
.button1 {
    width: 100%;
    background: var(--AppBlue);
    border: none;
    border-radius: var(--border-radius2);
    color: var(--white);
    font-size: var(--text-m1);
    padding: 5px 0;
    margin: 30px 0 0 0;
}

.primary-btn1-small, .primary-btn2-small, .primary-btn3-small {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: calc(var(--border-radius1) - 8px);
    color: white;
    cursor: pointer;
    border: none;
}
.primary-btn1-small {
    background: var(--AppBlue);
}
.primary-btn2-small {
    background: var(--AppRed);
}
.primary-btn3-small {
    background: var(--AppGreen);
}

.secondary-btn1-small, .secondary-btn2-small, .secondary-btn3-small, .secondary-btn4-small, .secondary-btn1v2-small {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: calc(var(--border-radius1) - 8px);
    cursor: pointer;
}
.secondary-btn1-small {
    background: var(--AppBlueLight2);
    border: 1px solid var(--AppBlue);
    color: var(--AppBlue);
}
.secondary-btn2-small {
    background: var(--AppRedLight1);
    border: 1px solid var(--AppRed);
    color: var(--AppRed);
}
.secondary-btn3-small {
    background: var(--AppgreenLight1);
    border: 1px solid var(--AppGreen);
    color: var(--AppGreen);
}
.secondary-btn4-small {
    background: var(--AppOrangeLight1);
    border: 1px solid var(--AppOrange);
    color: var(--AppOrange);
}
.secondary-btn1v2-small {
    background: var(--white);
    border: 1px solid var(--AppBlue);
    color: var(--AppBlue);
}

.primary-btn1-small:hover, .primary-btn2-small:hover, .primary-btn3-small:hover {
    color: white;
    opacity: .95;
}

.secondary-btn1-small:hover {
    background: var(--AppBlue);
    color: white;
}
.secondary-btn2-small:hover {
    background: var(--AppRed);
    color: white;
}
.secondary-btn3-small:hover {
    background: var(--AppGreen);
    color: white;
}.secondary-btn4-small:hover {
    background: var(--AppOrange);
    color: white;
}
.secondary-btn1v2-small:hover {
    background: var(--AppBlue);
    color: white;
}
.button2-app-blue:hover {
    background: var(--AppBlue);
    color: var(--white);
    opacity: .95;
}
.logout-btn {
    background: var(--AppRed);
    border: none;
    border-radius: var(--border-radius2);
    color: var(--white);
    font-size: var(--text-m1);
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
}
.logout-btn:hover {
    color: var(--white);
    opacity: .95;
}

.primary-btn1-long, .primary-btn2-long, .primary-btn3-long {
    width: 200px;
    padding: 5px 0;
    border-radius: calc(var(--border-radius1) - 8px);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    border: none;
    cursor: pointer;
}
.primary-btn1-long {
    background: var(--AppBlue);
}
.primary-btn2-long {
    background: var(--AppRed);
}
.primary-btn3-long {
    background: var(--AppGreen);
}
.primary-btn1-long:hover, .primary-btn2-long:hover, .primary-btn3-long:hover {
    color: var(--white);
    opacity: .95;
}

.category-btn-1 {
    border: 1px solid var(--AppBlue);
    padding: 5px 15px;
    color: var(--AppBlue);
    border-radius: calc(var(--border-radius1) - 8px);
    text-decoration:none;
    cursor: pointer;
}
.category-btn-1.active {
    background: var(--AppBlue);
    color: var(--white);
}
.category-btn-1:hover {
    color: var(--AppBlue);
}
.category-btn-1.active:hover {
    color: var(--white);
}











/*
|----------------------------------------
| Logo 
|----------------------------------------
*/
.logo-l, .logo-m {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position:relative;
}
.logo-m {
    width: 100px;
    height: 100px;
}
.logo-login {
    margin: -100px auto 0 auto
}





/*
|----------------------------------------
| Modals 
|----------------------------------------
*/
.modal1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    z-index: 20;
}
.modal1-box-small {
    width: 450px;
    padding: 30px 50px;
    border-radius: var(--border-radius1);
    background: var(--white);
    position: relative;
}
.modal1-icon {
    margin: 0 auto 20px auto;
    width: 48px;
    height: 48px;
}
.modal1-icon img {
    width: 100%;
    height: 100%;
}
.modal1-txt {
    font-size: var(--text-l3);
}
.modal1-x-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: var(--text-l1);
    cursor: pointer;
}

.modal-pfp {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: gainsboro;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.emp-mini-profile-pfp {
    height: 100%;
    position: absolute;
}





/*
|----------------------------------------
| Lines
|----------------------------------------
*/
.line1 {
    width: 100%;
    height: 1px;
    background: var(--grey1);
}





/*
|----------------------------------------
| Overlays
|----------------------------------------
*/
.overlay-blur-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba( 0, 0, 0, 0.3 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 3px );
    z-index: 1;
}





/*
|----------------------------------------
| Illustrations
|----------------------------------------
*/
.placeholder-illustrations {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder-illustrations img {
    width: 150px;
    height: 150px;
}