/*Containers*/
.dash-table-cont1 {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey1);
}
.small-cont-outer-cont {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
    position: relative;
    overflow-y:hidden;
}
.small-icon-cont-circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.dash-short-cont {
    width: calc((100% /3) - 13px);
    background: var(--white);
    border-radius: var(--border-radius1);
    padding: 20px;
    overflow: auto;
    overflow-y: hidden;
    border: .3px solid var(--white3);
}
.dash-short-cont.active {
    background: var(--AppBlue);
}

/*Shapes*/
.months-cirle1 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    margin: 10px 0 0 -30px;
}
.months-cirle2 {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    right: 5%;
    margin: -5px 0 0 0;
}